USE [master]
GO
/****** Object:  Database [FloodGuard]    Script Date: 7/1/2026 8:44:07 AM ******/
CREATE DATABASE [FloodGuard]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FloodGuard].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FloodGuard]
GO
/****** Object:  Table [dbo].[flood_alerts]    Script Date: 7/1/2026 8:44:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[flood_alerts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[severity] [nvarchar](20) NULL,
	[status] [nvarchar](20) NULL,
	[created_by] [int] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[District] [varchar](99) NULL,
	[Area] [varchar](99) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reports]    Script Date: 7/1/2026 8:44:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reports](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[name] [nvarchar](100) NULL,
	[location] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[severity] [nvarchar](20) NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime2](7) NULL,
	[District] [varchar](99) NULL,
	[ContactNumber] [varchar](99) NULL,
	[WaterLevel] [varchar](99) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 7/1/2026 8:44:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[role] [nvarchar](20) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[flood_alerts] ON 

INSERT [dbo].[flood_alerts] ([id], [title], [description], [severity], [status], [created_by], [created_at], [updated_at], [District], [Area]) VALUES (2, N'Flash Flood Warning — Kathmandu Valley', N'Heavy monsoon rainfall is causing flash floods in low-lying areas of Kathmandu. Residents near Bagmati and Bishnumati rivers must evacuate immediately. Avoid all river crossings.', N'critical', N'active', 2, CAST(N'2026-07-01T08:43:05.7066667' AS DateTime2), CAST(N'2026-07-01T08:43:05.7066667' AS DateTime2), N'Kathmandu', N'Bagmati River Area')
INSERT [dbo].[flood_alerts] ([id], [title], [description], [severity], [status], [created_by], [created_at], [updated_at], [District], [Area]) VALUES (3, N'Flood Alert — Sunsari District', N'Koshi River water levels are dangerously high. All residents within 500 meters of the river bank should move to designated relief camps. Relief teams have been dispatched.', N'critical', N'active', 2, CAST(N'2026-07-01T08:43:05.7066667' AS DateTime2), CAST(N'2026-07-01T08:43:05.7066667' AS DateTime2), N'Sunsari', N'Koshi River Bank')
INSERT [dbo].[flood_alerts] ([id], [title], [description], [severity], [status], [created_by], [created_at], [updated_at], [District], [Area]) VALUES (4, N'High Water Level — Kaski District', N'Phewa Lake is overflowing due to continuous rainfall. Lakeside businesses and hotels should move valuables to upper floors. Situation is being monitored.', N'high', N'active', 1, CAST(N'2026-07-01T08:43:05.7066667' AS DateTime2), CAST(N'2026-07-01T08:43:05.7066667' AS DateTime2), N'Kaski', N'Phewa Lakeside')
SET IDENTITY_INSERT [dbo].[flood_alerts] OFF
GO
SET IDENTITY_INSERT [dbo].[reports] ON 

INSERT [dbo].[reports] ([id], [user_id], [name], [location], [description], [severity], [status], [created_at], [District], [ContactNumber], [WaterLevel]) VALUES (2, 3, N'Sita Thapa', N'Near Bagmati River, Ward 5', N'Water level rising rapidly near the bridge. Several houses already flooded. Families need urgent help.', N'critical', N'pending', CAST(N'2026-07-01T08:43:05.7066667' AS DateTime2), N'Kathmandu', N'9841234567', N'Above waist level')
INSERT [dbo].[reports] ([id], [user_id], [name], [location], [description], [severity], [status], [created_at], [District], [ContactNumber], [WaterLevel]) VALUES (3, 3, N'Sita Thapa', N'Teku Junction, Kathmandu', N'Road completely blocked due to flooding. Vehicles cannot pass. Residents trapped.', N'high', N'verified', CAST(N'2026-07-01T08:43:05.7066667' AS DateTime2), N'Kathmandu', N'9841234567', N'Knee level')
INSERT [dbo].[reports] ([id], [user_id], [name], [location], [description], [severity], [status], [created_at], [District], [ContactNumber], [WaterLevel]) VALUES (4, 4, N'Bikash Karki', N'Koshi River Bank, Sunsari', N'Major flooding in riverside villages. At least 50 families displaced. Livestock lost.', N'critical', N'responding', CAST(N'2026-07-01T08:43:05.7066667' AS DateTime2), N'Sunsari', N'9807654321', N'Above knee level')
SET IDENTITY_INSERT [dbo].[reports] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [name], [email], [password], [role], [created_at]) VALUES (1, N'Admin User', N'admin@floodguard.com', N'$2b$10$teZdoIxLKtTRyQxwfXrUUev9.xe2MICFlrywjJz.5Ha0w7CyoX6uS', N'admin', CAST(N'2026-07-01T08:43:05.7033333' AS DateTime2))
INSERT [dbo].[users] ([id], [name], [email], [password], [role], [created_at]) VALUES (2, N'Ram Sharma', N'authority@floodguard.com', N'$2b$10$teZdoIxLKtTRyQxwfXrUUev9.xe2MICFlrywjJz.5Ha0w7CyoX6uS', N'authority', CAST(N'2026-07-01T08:43:05.7033333' AS DateTime2))
INSERT [dbo].[users] ([id], [name], [email], [password], [role], [created_at]) VALUES (3, N'Sita Thapa', N'sita@gmail.com', N'$2b$10$teZdoIxLKtTRyQxwfXrUUev9.xe2MICFlrywjJz.5Ha0w7CyoX6uS', N'citizen', CAST(N'2026-07-01T08:43:05.7033333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E616485C85625]    Script Date: 7/1/2026 8:44:07 AM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[flood_alerts] ADD  DEFAULT ('medium') FOR [severity]
GO
ALTER TABLE [dbo].[flood_alerts] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[flood_alerts] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[flood_alerts] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[reports] ADD  DEFAULT ('medium') FOR [severity]
GO
ALTER TABLE [dbo].[reports] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[reports] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('citizen') FOR [role]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[flood_alerts]  WITH CHECK ADD  CONSTRAINT [FK_flood_alerts_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[flood_alerts] CHECK CONSTRAINT [FK_flood_alerts_created_by]
GO
ALTER TABLE [dbo].[reports]  WITH CHECK ADD  CONSTRAINT [FK_reports_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[reports] CHECK CONSTRAINT [FK_reports_user]
GO
USE [master]
GO
